<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Jarditou</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <header>
        <p>
            <img src="assets/img/jarditou_logo.jpg" alt="image du logo de jarditou" title="Logo jarditou"
                class="logo">
        </p>
        <p>
            La qualité depuis 70 ans
        </p>
        <nav>
            <ul>
                <li><a href="accueil.html">Accueil</a></li>
                <li><a href="tableau.html">Tableau</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            <p>
                <img src="assets/img/promotion.jpg" alt="bannière de promotion jarditou" title="Promo" class="promo">
            </p>
        </nav>
    </header>
    <table>
        <thead>
            <tr>
                <th> -</th>
                <th>Janvier</th>
                <th>Février</th>
                <th>Mars</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="2">Jacques</td>
                <td>74 400</td>
                <td>64 200</td>
                <td>78 900</td>
            </tr>
            <tr>
                <td>68 100</td>
                <td>76 700</td>
                <td>99 500</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>Total</td>
                <td>228 200</td>
                <td>168 900</td>
                <td>187 600</td>
            </tr>
        </tfoot>
    </table>
    <hr>
    <footer>
        <nav>
            <ul>
                <li><a href="">Mentions légales</a></li>
                <li><a href="">Horaires</a></li>
                <li><a href="">Plan du site</a></li>
            </ul>
        </nav>
    </footer>

</body>

</html>