<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Jarditou</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="css/style.css" />
    </head>

    <body>
        <header>
            <p>
                <img src="img/jarditou_logo.jpg" alt="image du logo de jarditou" title="Logo jarditou"
                     class="logo" />
            </p>
            <p>
                La qualité depuis 70 ans
            </p>
            <nav class="nav">
                <ul>
                    <li class="li1"><a href="accueil.html">Accueil</a></li>
                    <li class="li1"><a href="tableau.html">Tableau</a></li>
                    <li class="li1"><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
            <div>
                <img src="img/promotion.jpg" alt="bannière de promotion jarditou" title="Promo" class="promo" />
            </div>
        </header>
        <table>
            <thead>
                <tr>
                    <th> -</th>
                    <th>Janvier</th>
                    <th>Février</th>
                    <th>Mars</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="2">Jacques</td>
                    <td>74 400</td>
                    <td>64 200</td>
                    <td>78 900</td>
                </tr>
                <tr>
                    <td>68 100</td>
                    <td>76 700</td>
                    <td>99 500</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td>228 200</td>
                    <td>168 900</td>
                    <td>187 600</td>
                </tr>
            </tfoot>
        </table>
        <hr />
        <footer>
            <nav class="nav">
                <ul>
                    <li class="li1"><a href="">Mentions légales</a></li>
                    <li class="li1"><a href="">Horaires</a></li>
                    <li class="li1"><a href="">Plan du site</a></li>
                </ul>
            </nav>
        </footer>

    </body>

</html>