<?php 
include '../header.php';
?>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="additionneur.html">Additionneur</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="magic.html">Nombre magique</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="calculator.html">Calculatrice</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <form action="#" method="GET" class="form">
                    <fieldset>
                        <legend>Additionneur</legend>
                        <div class="row" id="app">
                            <div class="form-group col-sm-4">
                                <label for="firstNumber"></label>
                                <input type="number" v-model="firstNumber" class="form-control" name="firstNumber" id="firstNumber"
                                    placeholder="Nombre 1" @keyup="addition" />
                            </div>
                            <div class="form-group col-sm-1 result">
                                <p>+</p>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="secondNumber"></label>
                                <input type="number" v-model="secondNumber" class="form-control" name="secondNumber" id="secondNumber"
                                    placeholder="Nombre 2" @keyup="addition" />
                            </div>
                            <div class="form-group col-sm-1 result">
                                <p>=</p>
                            </div>
                            <div class="form-group col-sm-2 result">
                                <p class="label">{{ result }}</p>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>


    <script src="assets/js/jquery-3.3.1.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="assets/js/script.js"></script>
</body>

</html>